@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS */

body {
	font-family: 'Poppins', sans-serif;
}

/* SLIDER */
#content {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: 'Playfair Display', serif;
}

.title::after {
	content: '';
	height: 2px;
	width: 100px;
	position: absolute;
	bottom: 190px;
	left: 50%;
	margin-left: -50px;
	background-color: #000;
	color: #b9a0a1;
}

.subtitle {
	font-family: Poppins, sans-serif;
}

.subtitle span {
	font-family: 'Playfair Display', serif;
}

small {
	font-size: smaller;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}


.invite-box {
	position: relative;
  overflow: hidden;
}

.invite-box::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 35%;
	right: -58%;
	z-index: -1;
	background-image: url('../images/leaves.svg');
	background-repeat: no-repeat;
	background-position: right 0px top 0px;
	transform-origin: top right;
	transform: rotate(110deg);
	opacity: 20%;
}
.invite-box::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -15%;
	left: 33%;
	z-index: -1;
	background-image: url('../images/leaves.svg');
	background-repeat: no-repeat;
	background-position: left 0px bottom 0px;
	transform-origin: bottom left;
	transform: rotate(278deg);
	opacity: 20%;
}

@media (min-width: 576px) {
	.invite-box::before {
		top: 35%;
		right: -25%;
	}
	.invite-box::after {
		bottom: 0%;
		left: 15%;
	}
}

#slideshow {
	background-image: url('/images/1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
